@font-face {
    font-family: Titillium-Light;
    src: local("assets/fonts/TitilliumWeb/TitilliumWeb-Light"),
    url(assets/fonts/TitilliumWeb/TitilliumWeb-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: Titillium-Regular;
    src: local("assets/fonts/TitilliumWeb/TitilliumWeb-Regular"),
    url(assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Titillium-Bold;
    src: local("assets/fonts/TitilliumWeb/TitilliumWeb-Bold"),
    url(assets/fonts/TitilliumWeb/TitilliumWeb-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: PTSans-Regular;
    src: local("assets/fonts/PTSans/PTSans-Regular"),
    url(assets/fonts/PTSans/PTSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: PTSans-Bold;
    src: local("assets/fonts/PTSans/PTSans-Bold"),
    url(assets/fonts/PTSans/PTSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Lobster;
    src: local("assets/fonts/Lobster/Lobster-Regular"),
    url(assets/fonts/Lobster/Lobster-Regular.ttf);
    font-weight: nomal;
}