@import '../colors';
@import '../fonts';

.form-control {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;

    &.inline {
        flex-flow: row;
    }

    p.error {
        color: $heart;
        font-family: $post-title;
    }
}