@import '../../constants/styles/fonts';
@import '../../constants/styles/colors';
@import '../../constants/styles/forms/input';
@import '../../constants/styles/forms/textarea';
@import '../../constants/styles/forms/label';

.new-post-component {
    grid-column: 1/25;
    position: relative;

    .bm-input {
        &.tags {
            width: 40%;
        }
    }

    .form-control {
        .chips-container-component {
            margin-top: 15px;
        }
    }

    .button-container {
        width: 100%;

        .publish-post-button {

        }
        .save-post-button {
            margin-left: 20px;
        }
        .cancel-post-button {
            align-self: flex-end;
            float: right;
        }
    }
}